<toolbar />
<main class="container">
  <div class="row justify-center mt-5 mb-3">
    <div class="col-sm-12 col-md-6 col-xl-7">
      <input-search placeholder="Buscar" (value)="searchValue($event)" />
    </div>
  </div>
  <ng-template [ngIf]="cardsFilter.length > 0">
    <div class="row justify-center align-center card-container">
      <div
        class="col-sm-12 col-md-5 col-lg-3 col-xl-3 col-xxl-2 ml-1 mr-1 display-flex justify-center align-center format-space"
        *ngFor="let card of cardsFilter">
        <card [card]="card" (delete)="removeCard($event)" />
      </div>
    </div>
    <div class="row card-container" *ngIf="loading">
      <div class="col-sm-12 display-flex justify-center align-center">
        <loading />
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="!(cardsFilter.length > 0) && (cards.length > 0) && !loading">
    <div class="row card-container">
      <div class="col-sm-12 display-flex justify-center align-center">
        <p>Dados não encontrados.</p>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="showBtnGet">
    <div class="row card-container">
      <div class="col-sm-12 display-flex justify-center align-center">
        <button class="button" (click)="initialize()">Buscar Dados</button>
      </div>
    </div>
  </ng-template>
</main>
