@import "./_variables.scss";
@import "./_font.scss";
@import "./_layout.scss";
@import "./_mixins.scss";
@include spacing-utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-background-system;
  overflow: hidden;
  font-family: Arial, serif;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3797D9;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #317ab9;
}

::-webkit-scrollbar-horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}
