<section class="toolbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-1 text-center display-flex justify-center pt-2">
        <img src="assets/images/128x128.png" alt="logo do anota ai">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-11 pt-2">
        <section class="description-titles">
          <h2>Teste de Desenvolvedor Front-End - Anota AI</h2>
          <h4 (click)="goToIntroduction()" class="name"><hr/>Jéssika Aguiar<hr/></h4>
        </section>
      </div>
    </div>
  </div>
</section>
